NODE_ENV=development
REGION=us-east-1
USERS_TABLE=aws-micro-frontend-backend-users-dev
DASHBOARD_TABLE=aws-micro-frontend-backend-dashboard-dev
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
